@import url("../style.css");
@import url("../enrollment/enrollment.css");
@import url("https://fonts.googleapis.com/css2?family=Courier+Prime&family=Source+Code+Pro&display=swap");
main {
  padding-top: 20px;
  padding-bottom: 40px;
  background: linear-gradient(135deg, #ec9f85 10%, #e9baab);
}

.team-wrapper {
  margin: 0 auto;
}

@media screen and (min-width: 768px) {
  .team-wrapper {
    width: 80%;
  }
}

.team-title-wrapper {
  text-align: center;
  margin-top: 50px 0;
  font-family: "Source Code Pro", monospace;
}

.team-title-wrapper__title {
  margin-bottom: 40px;
  font-size: 40px;
  text-shadow: 3px 3px 2px #d47675;
}

.team-wrapper__teacher-about h1 {
  text-shadow: 4px 4px 4px #d47675;
}

.team-wrapper__teacher-about p {
  font-family: "Source Code Pro", monospace;
  text-shadow: 2px 2px 3px #d47675;
}

@media screen and (min-width: 769px) {
  .team-wrapper__teacher-about {
    width: 40%;
  }
}

h3 {
  text-shadow: 4px 4px 4px #d47675;
}

.fa-pinterest {
  background: #E60023;
  color: #fff;
}

@media screen and (max-width: 768px) {
  .team-wrapper__teacher {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-bottom: 50px;
  }
  .team-wrapper__teacher:nth-child(odd) {
    text-align: left;
  }
  .team-wrapper__teacher:nth-child(even) {
    text-align: right;
  }
  .team-wrapper__teacher-img img {
    width: 100%;
    -webkit-box-shadow: 6px 6px 5px black;
            box-shadow: 6px 6px 5px black;
  }
  .form-wrapper {
    background: none;
  }
  .form-wrapper__form p {
    width: 80%;
    margin-bottom: 30px;
  }
  .form-wrapper__form label {
    text-shadow: 2px 2px #eb9a7f;
    color: black;
  }
  .form-wrapper__form h3 {
    color: black;
    text-shadow: 3px 3px #eb9a7f;
  }
}

@media screen and (min-width: 769px) {
  .team-wrapper__teacher {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row wrap;
            flex-flow: row wrap;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-bottom: 80px;
  }
  .team-wrapper__teacher:nth-child(even) {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
  }
  .team-wrapper__teacher-img img {
    width: 100%;
    max-width: 600px;
    min-height: 450px;
    -webkit-box-shadow: 11px 11px 11px black;
            box-shadow: 11px 11px 11px black;
  }
  .form-wrapper {
    background: none;
    width: 50%;
    margin: 0 auto;
  }
  .form-wrapper__form p {
    width: 70%;
    margin-bottom: 30px;
  }
  .form-wrapper__form label {
    text-shadow: 2px 2px #eb9a7f;
    color: black;
  }
  .form-wrapper__form h3 {
    color: black;
    text-shadow: 3px 3px #eb9a7f;
  }
}
/*# sourceMappingURL=team.css.map */