@import url('https://fonts.googleapis.com/css2?family=Courier+Prime&family=Source+Code+Pro&display=swap');

// * fonts
$courierPrime: 'Courier Prime', monospace;
$sourceCodePro: 'Source Code Pro', monospace;

// * colors
$bodyBackgroundColor: #fef9f8;
$backgroundColor: #eb9a7f;
$blackColor: rgb(0, 0, 0);
$whiteColor: #fff;
$homeTextShadowColor: #ddd7d6;
$articleBackgroundColor: #e9baab;
$teamTextShadow: #d47675;

// * sizes
$borderRadiusHome: 40px;

// * transitions
$standardTransition: 0.4s ease-in-out;